/* This file intentionally left blank. */
.wy-nav-content {
    max-width: 95% !important;
}
.tight-table td{
    white-space: normal !important;
}
#supsystic-table-1 {
    font-size: 9px;
    font-family: "Times New Roman", Times, serif;
    }
.wy-side-nav-search, .wy-nav-top {
    background: #B3C8DD;
}